<a href="https://colab.research.google.com/github/rahadianhadi/materi-git/blob/main/3_Alur_Kontrol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Blok If

Blok kode if pada Python strukturnya seperti ini:

```
if kondisi:
  perintah()
```

In [ ]:
if True:
  print('Perintah ini akan dieksekusi')

if False:
  print('Perintah ini tidak akan pernah dieksekusi')

print('Perintah ini akan selalu dieksekusi')

Perintah ini akan dieksekusi
Perintah ini akan selalu dieksekusi

In [ ]:

if 3 > 6:
  print('Nilai 3 lebih dari 6')

if 6 > 3:
  print('Nilai 6 lebih dari 3')

Nilai 6 lebih dari 3

In [ ]:
# Blok if else

nilai = 79

print('Nilai anda adalah:', nilai)

if nilai >= 80:
  print('Selamat, anda lulus!')
else:
  print('Maaf, anda tidak lulus.')

Nilai anda adalah: 79
Maaf, anda tidak lulus.

In [ ]:
# Blok if else

nilai = 80

print('Nilai anda adalah:', nilai)

if nilai > 80:
  print('Selamat, anda lulus!')
else:
  print('Maaf, anda tidak lulus.')

Nilai anda adalah: 80
Maaf, anda tidak lulus.

In [ ]:
# Blok if elseif else

nilai = int(input('Masukkan nilai: '))

if nilai >= 90:
  print('Predikat A')
elif nilai >= 80:
  print('Predikat B')
elif nilai >= 60:
  print('Predikat C')
elif nilai >= 40:
  print('Predikat D')
else:
  print('Predikat E')

In [ ]:

# Contoh salah blok if tanpa elseif dari contoh sebelumnya

nilai = int(input('Masukkan nilai: '))

if nilai >= 90:
  print('Predikat A')
if nilai >= 80:
  print('Predikat B')
if nilai >= 60:
  print('Predikat C')
if nilai >= 40:
  print('Predikat D')
else:
  print('Predikat E')

Masukkan nilai: 80
Predikat B
Predikat C
Predikat D

In [ ]:
# Blok if dengan operator logika

keranjang_buah = ['rambutan', 'jeruk', 'apel', 'mangga', 'melon']
nama_buah = input('Masukkan nama buah dalam huruf kecil: ')

if (nama_buah in keranjang_buah):
  print(f'Buah {nama_buah} yang anda cari tersedia!')
else:
  print(f'Buah {nama_buah} yang anda cari tidak tersedia!')

Masukkan nama buah dalam huruf kecil: jeruk
Buah jeruk yang anda cari tersedia!

In [ ]:

# If dalam satu baris

nilai = int(input('Masukkan nilai: '))

status = 'lulus' if nilai >= 80 else 'tidak lulus'

print(status)

In [ ]:
# Kode asli sebelum diubah ke ternary

if nilai >= 80:
  status = 'lulus'
else:
  status = 'tidak lulus'

print(status)

In [ ]:
# Percabangan bertingkat

nilai = int(input('Masukkan nilai: '))
usia = int(input('Masukkan usia: '))

if nilai >= 80:
  if (usia < 15):
    print('Selamat adik, kamu lulus!')
  else:
    print('Selamat kakak, kamu lulus!')
else:
  if (usia < 15):
    print('Mohon maaf dik, coba lagi ya!')
  else:
    print('Mohon maaf kak, coba lagi ya!')

In [ ]:

keranjang_buah = ['rambutan', 'jeruk', 'apel', 'mangga', 'melon']

for buah in keranjang_buah:
  print(buah)

rambutan
jeruk
apel
mangga
melon

In [ ]:

# Menggunakan fungsi enumerate untuk urutan iterasi
keranjang_buah = ['rambutan', 'jeruk', 'apel', 'mangga', 'melon']

for i, buah in enumerate(keranjang_buah):
  print(i, buah)

0 rambutan
1 jeruk
2 apel
3 mangga
4 melon

In [ ]:
# Menggunakan fungsi range()
## sebanyak 5, mulai dari 0 sampai 4

for i in range(5):
  print("Perulangan ke -", i)

Perulangan ke - 0
Perulangan ke - 1
Perulangan ke - 2
Perulangan ke - 3
Perulangan ke - 4

In [ ]:
# Menggunakan fungsi range()
## sebanyak 5, mulai dari 1 sampai 5

for i in range(1, 6):
  print("Perulangan ke -", i)

Perulangan ke - 1
Perulangan ke - 2
Perulangan ke - 3
Perulangan ke - 4
Perulangan ke - 5

In [ ]:
# Menggunakan fungsi range()
## Bilangan genap kelipatan 2

for i in range(2, 12, 2):
  print("Perulangan ke -", i)

Perulangan ke - 2
Perulangan ke - 4
Perulangan ke - 6
Perulangan ke - 8
Perulangan ke - 10

In [ ]:
# Selain list, tuple juga bisa digunakan
keranjang_buah = ('rambutan', 'jeruk', 'apel', 'mangga', 'melon', )

for buah in keranjang_buah:
  print(buah)

rambutan
jeruk
apel
mangga
melon

In [ ]:

for huruf in "Python":
  print(huruf)

P
y
t
h
o
n

In [ ]:

for i in range(1, 10):
  # skip jika i == 5
  if (i == 5):
    continue
  
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
for i in range(1, 10):
  # stop jika i == 5
  if (i == 5):
    break
  
  print(i)

1
2
3
4

In [ ]:

daftar_kota = [
  'Bandung', 'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 
  'Jogjakarta', 'Semarang', 'Makassar', 'Solo',
]

for kota in daftar_kota:
  print(kota)
else:
  print('Tidak ada lagi item yang tersisa')

Bandung
Jakarta
Surabaya
Depok
Bekasi
Jogjakarta
Semarang
Makassar
Solo
Tidak ada lagi item yang tersisa

In [ ]:

daftar_kota = [
  'Bandung', 'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 
  'Jogjakarta', 'Semarang', 'Makassar', 'Solo',
]

for kota in daftar_kota:
  if kota == 'Depok':
    break
  print(kota)
else:
  print('Tidak ada lagi item yang tersisa')

Bandung
Jakarta
Surabaya

In [ ]:

while (1 + 2 == 3):
  print('Halo Python!')

In [ ]:


i = 1

while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:

daftar_kota = [
  'Bandung', 'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 
  'Jogjakarta', 'Semarang', 'Makassar', 'Solo',
]

i = 0 # tentukan posisi awal
while i < len(daftar_kota):
  print(daftar_kota[i])
  
  i += 1 # jangan lupa tambahkan nilai 1 ke var i

Bandung
Jakarta
Surabaya
Depok
Bekasi
Jogjakarta
Semarang
Makassar
Solo

In [ ]:


for i in range(3):
  print('Perulangan luar [i] = ', i)

  for j in range(5):
    print('   Perulangan dalam [i, j] = ', str(i) + ', ' + str(j))

Perulangan luar [i] =  0
   Perulangan dalam [i, j] =  0, 0
   Perulangan dalam [i, j] =  0, 1
   Perulangan dalam [i, j] =  0, 2
   Perulangan dalam [i, j] =  0, 3
   Perulangan dalam [i, j] =  0, 4
Perulangan luar [i] =  1
   Perulangan dalam [i, j] =  1, 0
   Perulangan dalam [i, j] =  1, 1
   Perulangan dalam [i, j] =  1, 2
   Perulangan dalam [i, j] =  1, 3
   Perulangan dalam [i, j] =  1, 4
Perulangan luar [i] =  2
   Perulangan dalam [i, j] =  2, 0
   Perulangan dalam [i, j] =  2, 1
   Perulangan dalam [i, j] =  2, 2
   Perulangan dalam [i, j] =  2, 3
   Perulangan dalam [i, j] =  2, 4

In [1]:
# Init
animals = ["Bears", "Lions", "Jaguars"]

# Tambah Panthers
animals.append("Panthers")

# Urutkan dengan fungsi sort()
animals.sort()

# Perulangan menggunakan for
for animal in animals:
  print(animal)

Bears
Jaguars
Lions
Panthers

## Fungsi

In [1]:

def halo_python():
  print('Halo python!')


# Panggil fungsi
halo_python()

In [2]:


def sapa_nama(nama_panggilan):
  print(f'Halo {nama_panggilan}, selamat datang!')


sapa_nama('Kaka')
sapa_nama('Irfansyah')

Halo Kaka, selamat datang!
Halo Irfansyah, selamat datang!

In [5]:


def luas_persegi (sisi):
  return sisi * sisi


# tidak menghasilkan output dalam CLI
luas_persegi(10)


# output fungsi luas_persegi, dimasukkan ke parameter fungsi print
print('Luas persegi dengan sisi 4 adalah:', luas_persegi(4))


# kita juga bisa simpan di dalam variabel
persegi_besar = luas_persegi(100)
persegi_kecil = luas_persegi(50)

print('Total luas persegi besar dan kecil adalah:', persegi_besar + persegi_kecil)

Luas persegi dengan sisi 4 adalah: 16
Total luas persegi besar dan kecil adalah: 12500

In [8]:

kota = 'Bandung'

def cetak_kota() :
  print(kota)

print('[panggil secara langsung]', kota)
print('[panggil fungsi cetak_kota]', end=' ')

cetak_kota()

[panggil secara langsung] Bandung
[panggil fungsi cetak_kota] Bandung

In [10]:

kota, provinsi = 'Bandung', 'Jawa Barat'

def contoh_var_lokal():
  provinsi = 'Jawa Timur'
  print(kota, provinsi)

print('[Panggil fungsi contoh_var_lokal()]')
contoh_var_lokal()

print('\n[Panggil variabel secara langsung]')
print(kota, provinsi)

[Panggil fungsi contoh_var_lokal()]
Bandung Jawa Timur

[Panggil variabel secara langsung]
Bandung Jawa Timur

In [1]:
import math
import datetime

print('Tanggal dan waktu sekarang: ', datetime.datetime.now())
print('Nilai konstanta pi: ', math.pi)

Tanggal dan waktu sekarang:  2023-03-18 07:52:36.314586
Nilai konstanta pi:  3.141592653589793